/*
 * Use this CSS to learn some intersting techniques,
 * in case you're wondering how I built the UI.
 * Have fun! 😁
 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    /* color: #444; */
    background: #f3f3f3;
    background-repeat: no-repeat;
    height: calc(100vh + 0px);
    padding: 0;

}


/*GLOBAL STYLE*/
.btn-login {
    background-color: #091353;
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 45px;
    border: none;
    border-radius: 25px;
    margin-top: 10px;
    cursor: pointer;
    transition: padding 0.2s;
}

.btn-login:active {
    padding: 10px 50px;
}


.btn-signup-mobile,
.btn-sign-in-mobile {
    display: none;
}

/*NAVIGATION*/
nav {
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 0 0 20px 0;
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    display: none;

    /*STYLE IN THE MEANTIME*/
    /* display: flex; */
}

nav.active {
    display: flex;
}

nav .welcome {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5em;
    color: black;
}

nav .branding-logo-container {
    width: 90px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .branding-logo-container .logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

nav .user-profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav .user-profile-container .user-avatar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav .user-profile-container .user-avatar-container .fa-user {
    font-size: 20px;
    color: black;
}

nav .user-profile-container .user-avatar-container .user-name {
    padding: 0 0 0 10px;
    font-size: 13px;
    color: black;
}

nav .user-profile-container .log-out-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 20px;
}

nav .user-profile-container .log-out-container #logout-btn {
    border: none;
    font-size: 20px;
    cursor: pointer;
}

nav .user-profile-container .log-out-container p {
    font-size: 13px;
    padding: 0 0 0 10px;
    color: black;
}


/*LOGIN*/
/*FORM STYLE*/
.form-main-container.hidden {
    display: none;
  }
  
  .form-main-container {
    width: 750px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 25px 30px 55px #5557;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: block;
    z-index: 101;
  }
  
  .form-main-container .sign-in-container {
    z-index: 1;
    opacity: 1;
    transition: transform 0.6s ease-in-out;
  }
  
  .form-main-container .sign-up-container {
    z-index: 0;
    opacity: 0;
    transition: transform 0.6s ease-in-out;
    transform: translate(0%);
  }
  
  .form-main-container .form-container {
    width: 60%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-main-container .form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  .form-main-container .form-container form h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.1em;
    color: black;
  }
  
  .form-main-container .form-container form .social-med-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px 0 0 0;
  }
  
  
  .form-main-container .form-container form .social-med-container .social-icon {
    font-size: 18px;
    border: 1px solid #091353;
    border-radius: 50%;
    margin: 0 10px;
    color: #091353;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  .form-main-container .form-container form .text-suggestion {
    padding: 25px 0 25px 0;
    font-size: 13px;
    color: #394867;
  }
  
  .form-main-container .form-container form .input-container:not(:last-child) {
    padding-bottom: 15px;
  }
  
  .form-main-container .form-container form .input-container .input-field {
    width: 350px;
    height: 36px;
    padding: 5px 15px;
    background-color: #EFEFEF;
    border: none;
    border-radius: 5px;
    color: #394867;
  
  }
  
  .form-main-container .form-container form .input-container .input-field:focus {
    outline: 0;
    border: 1px solid #394867;
  }
  
  .form-main-container .signin-error-message {
    font-size: 10px;
    color: red;
    display: none;
  }
  
  .form-main-container .signin-error-message.active {
    display: block;
  }
  
  .form-main-container .form-container form .forgot-pass-cta {
    font-size: 14px;
    color: #394867;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(33, 42, 62, 0.2);
    padding: 10px 0 5px 0;
    margin-bottom: 15px;
  }
  
  .form-main-container .container-overlay {
    position: absolute;
    width: 40%;
    height: 100%;
    right: 0%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 9;
  }
  
  .form-main-container .container-overlay .overlay {
    position: absolute;
    width: 250%;
    left: -150%;
    height: 100%;
    background: linear-gradient(16deg, rgba(246, 76, 114, 1) 10%, rgba(36, 37, 130, 1) 50%, rgba(85, 61, 103, 1) 85%);
    transition: transform 0.6s ease-in-out;
  }
  
  .form-main-container .container-overlay .overlay .overlay-panel {
    width: 300px;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .form-main-container .container-overlay .overlay .overlay-left {
    right: 60%;
    transform: translate(0%);
  }
  
  .form-main-container .container-overlay .overlay .overlay-right {
    right: 0;
    transform: translate(0%);
  }
  
  
  .form-main-container .container-overlay .overlay .overlay-panel h2 {
    font-size: 25px;
    font-weight: 600;
    line-height: 1.1em;
    color: white;
    margin: 0;
    text-align: center;
  }
  
  .form-main-container .container-overlay .overlay .overlay-panel p {
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 300;
    color: white;
    margin: 0;
    padding-top: 15px;
    text-align: center;
  }
  
  .form-main-container .container-overlay .btn-login {
    border: 1px solid white;
    margin-top: 15px;
    text-align: center;
  }
  
  .form-main-container.switching-active .sign-in-container {
    z-index: 0;
    opacity: 0;
    transform: translate(65%);
  }
  
  .form-main-container.switching-active .sign-up-container {
    z-index: 1;
    opacity: 1;
    transform: translate(66%);
  }
  
  .form-main-container.switching-active .container-overlay {
    transform: translate(-150%);
  }
  
  .form-main-container.switching-active .container-overlay .overlay {
    transform: translate(60%);
  }
  
  /*FORM HIDE IN MOBILE VERSION*/
  .form-main-container .sign-in-container.hide-mobile {
    display: none;
    z-index: 0;
    opacity: 0;
  }
  
  .form-main-container .sign-up-container.active-mobile {
    z-index: 1;
    opacity: 1;
  }
  
  
  
  /*MODAL STYLE NEED TO REMOVED*/
  /* MODAL WINDOW */
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60rem;
    background-color: #f3f3f3;
    padding: 5rem 6rem;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: all 0.5s;
  }
  
  .form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.5s;
  }
  
  .modal__header {
    font-size: 3.25rem;
    margin-bottom: 4.5rem;
    line-height: 1.5;
  }
  
  .modal__form {
    margin: 0 3rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 2.5rem;
  }
  
  .modal__form label {
    font-size: 1.7rem;
    font-weight: 500;
  }
  
  .modal__form input {
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
  }
  
  .modal__form button {
    grid-column: 1 / span 2;
    justify-self: center;
    margin-top: 1rem;
  }

  /*DONT REMOVE THIS STYLES*/
.btn--close-modal {
    font-family: inherit;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    border: none;
    background: none;
    z-index: 10;
  }

.form-main-container.switching-active .btn--close-modal{
    color: black;
}
  
  /* .hidden {
    visibility: hidden;
    opacity: 0;
  } */



/* MAIN */
.app {
    position: relative;
    width: 80%;
    max-width: 1080px;
    margin: 1rem auto;
    /* display: grid; */
    grid-template-columns: 4fr 2fr;
    grid-template-rows: auto repeat(3, 15rem) auto;
    gap: 2rem;

    /* NOTE This creates the fade in/out anumation */
    display: none;
}

.app.active {
    display: grid;

}

.balance {
    grid-column: 1 / span 2;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.balance__label {
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: -0.2rem;
    color: black;
}

.balance__date {
    font-size: 1.4rem;
    color: black;
}

.balance__value {
    font-size: 4.5rem;
    font-weight: 400;
    color: black;
}

/* MOVEMENTS */
.movements {
    grid-row: 2 / span 3;
    background-color: #fff;
    border-radius: 1rem;
    overflow: scroll;
}

.movements__row {
    padding: 2.25rem 4rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.movements__type {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    padding: 0.1rem 1rem;
    border-radius: 10rem;
    margin-right: 2rem;
}

.movements__date {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #666;
}

.movements__type--deposit {
    background-image: linear-gradient(to top left, #03b16f, #c8eda6);
}

.movements__type--withdrawal {
    background-image: linear-gradient(to top left, #fc0040, #f29094);
}

.movements__value {
    font-size: 1.7rem;
    margin-left: auto;
}

/* SUMMARY */
.summary {
    grid-row: 5 / 6;
    display: flex;
    align-items: baseline;
    padding: 0 0.3rem;
    margin-top: 1rem;
}

.summary__label {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 0.8rem;
    color: black;
}

.summary__value {
    font-size: 2.2rem;
    margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
    color: #66c873;
}

.summary__value--out {
    color: #f5465d;
}

.btn--sort {
    margin-left: auto;
    border: none;
    background: none;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    color: black;
}

/* OPERATIONS */
.operation {
    border-radius: 1rem;
    padding: 3rem 4rem;
    color: #333;
}

.operation--transfer {
    background-image: linear-gradient(to top left, #242582, #5657D6);
}

.operation--loan {
    background-image: linear-gradient(to top left, #A771CF, #802BBF);
}

.operation--close {
    background-image: linear-gradient(to top left, #F64C72, #F891A8);
}

h2 {
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
    font-weight: 600;
    color: white;
}

.form {
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.4rem 1rem;
}

/* Exceptions for interst */
.form.form--loan {
    grid-template-columns: 2.5fr 1fr 2.5fr;
}

.form__label--loan {
    grid-row: 2;
}

/* End exceptions */

.form__input {
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: inherit;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    padding: 0.3rem 1rem;
    border-radius: 0.7rem;
    transition: all 0.3s;
}

.form__input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
    font-size: 1.3rem;
    text-align: center;
    color: white;
}

.form__btn {
    border: none;
    border-radius: 0.7rem;
    font-size: 1.8rem;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.form__btn:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
}

.logout-timer {
    padding: 0 0.3rem;
    margin-top: 1.9rem;
    text-align: right;
    font-size: 1.25rem;
    color: black;
}

.timer {
    font-weight: 600;
}

@media screen and (min-width: 1279px) and (max-width: 1366px) {
    body{
        height: calc(100vh + 25px);
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    body {
        height: calc(100vh + 65px);
    }
}

@media screen and (max-width: 1024px){
    .app {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .balance {
        grid-column: 1 / span 3;
    }

    .movements {
        grid-column: 1 / span 2;
        grid-row: 2 / span 3;
    }

    .summary {
        grid-column: 1 / span 2;
        grid-row: 5 / span 2;
    }

    .operation--transfer {
        grid-row: 2 / span 1;
        grid-column: 3 /span 1;
    }

    .operation--loan {
        grid-row: 3 / span 1;
        grid-column: 3 /span 1;
    }

    .operation--close {
        grid-row: 4 / span 1;
        grid-column: 3 / span 1;
    }

    .logout-timer {
        grid-row: 5 /span 1;
        grid-column: 3 / span 1;
        text-align: center;
    }

    .form__label {
        font-size: 0.9em;
    }
}


@media screen and (max-width: 1023px) {
    .movements{
        grid-column: 1 / span 3;
        grid-row: 2 / span 3;
    }

    .operation--transfer {
        grid-row: 5 / span 1;
        grid-column: 1 /span 1;
    }

    .operation--loan {
        grid-row: 5 / span 1;
        grid-column: 2 /span 1;
    }

    .operation--close {
        grid-row: 5 / span 1;
        grid-column: 3 / span 1;
    }

    .summary {
        grid-column: 1 / span 3;
        grid-row: 6 / span 1;
    }

    .logout-timer {
        grid-row: 7 / span 1;
        grid-column: 3 / span 1;
    }

    .operation {
        padding: 1rem 1rem;
    }

    .form{
        gap: 0.5rem 0.5rem;
    }
}
@media screen and (max-width: 768px) {
    .btn-login {
        border-radius: 5px;
        width: 100%;
    }

    .btn-signup-mobile,
    .btn-sign-in-mobile {
        background: transparent;
        border: 1px solid #091353;
        color: #091353;
        display: block;
    }

    .form-main-container {
        width: 55%;
    }

    .form-main-container .form-container {
        width: 100%;
    }

    .form-main-container .form-container form {
        width: 80%;
    }
    .form-main-container .form-container form .input-container {
        width: 100%;
    }

    .form-main-container .form-container form .input-container .input-field {
        width: 100%;
    }

    .form-main-container .container-overlay {
        display: none;
    }
}

@media screen and (max-width: 540px) {
    body{
        height: auto;
    }
    .app {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    nav .user-profile-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    nav .user-profile-container .log-out-container{
        padding: 7px 0 0 0px;
    }

    .balance__label {
        font-size: 12px;
    }
        
    .balance, .balance__date {
        grid-column: 1 / span 1;
    }

    .balance__value{
        font-size: 20px;
    }

    .movements__row{
        display: flex;
    align-items: center;
    justify-content: space-around;
    }

    .movements__type {
        font-size: 8px;
        padding: 0.1rem 5px;
        margin-right: 0px;
    }
    
    .movements__date{
        font-size: 10px;
    }

    .movements__value {
        font-size: 14px;
        margin-left: initial;
    }

    .movements {
        grid-column: 1 / span 1;
        grid-row: 2 / span 3;
    }

    .summary {
        display: flex;
        justify-content: space-between;
        grid-column: 1 / span 1;
        grid-row: 8 / span 2;
        flex-wrap: wrap;
    }

    .summary__label {
        font-size: 10px;
        margin-right: 5px;
    }

    .summary__value {
        font-size: 12px;
        margin-right: 10px;
    }

    .btn--sort {
        margin-top: 15px;
        margin-left: auto;
        font-size: 10px;
    }

    .operation--transfer {
        grid-row: 5 / span 1;
        grid-column: 1 /span 1;
    }

    .operation--loan {
        grid-row: 6 / span 1;
        grid-column: 1 /span 1;
    }

    .operation--close {
        grid-row: 7 / span 1;
        grid-column: 1 / span 1;
    }

    .logout-timer {
        grid-row: 10 / span 1;
        grid-column: 1 / span 1;
        text-align: right;
        margin-top: 0px;
    }
}


@media screen and (max-width: 414px) {
    .form-main-container {
        width: 85%;
    }
}